@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-total-center {
    @include flex-center;
    justify-content: center;
}

@mixin flex-center-space-between {
    @include flex-center;
    justify-content: space-between;
}

$breakpoints: ('laptop': 1200px,
    'tablet': 991px,
    'mobile': 560px);

@mixin responsivo($breakpoint-name) {
    @if map-has-key($breakpoints, $breakpoint-name) {
        @media (max-width: map-get($breakpoints, $breakpoint-name)) {
            @content
        }
    }

    @else {
        @warn "Este breakpoint que voce inseriu nao existe!"
    }
}