h1,
h2,
h3,
h4,
h5 {
    font-family: 'Space Grotesk', sans-serif;
    color: $gray-100;
    font-weight: 700;
    line-height: 120%;
}

h1 {
    font-size: 6.4rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3.2rem;
}

h5 {
    font-size: 2.8rem;
}