// Primary Colors
$purple-10: #653df5;
$purple-20: #4e32b5;
$purple-30: #2c1b6a;

$gray-900: #0A0b0d;
$gray-800: #393b42;
$gray-700: #5c5f69;
$gray-600: #787c87;
$gray-500: #979ba6;
$gray-400: #abafba;
$gray-300: #c0c3cc;
$gray-200: #dfe1e8;
$gray-100: #f5f6fa;